{% extends 'TableMainBundle::layout.html.twig' %}
{% block javascripts %}
    {{ parent() }}
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
{# infinitive scrolling #}
<script src="{{ asset('bundles/tablemain/infinite-ajax-scroll/js/jquery-ias.min.js') }}"></script>
<script>
    jQuery.ias({
        container : '.restaurantList-container',
        item: '.restaurant-container',
        pagination: '.navigation',
        next: '.next a',
        loader: '<img src="{{ asset('bundles/tablemain/infinite-ajax-scroll/images/loader.gif') }}"/>'
    });
    // Rating
    $(function(){ 
        $('.rating').rating({
            callback: function(value, link){ 
                var restaurantId = $(this).attr('name');
                $.ajax({
                    url: Routing.generate('table_update_restaurant_rating'),
                    data: {restaurantId: restaurantId, value: value, objId: restaurantId},
                    type: "POST",
                    dataType: "html",
                    success: function(responce) {
                        location.reload();
                        //$('.restaurant-rating-'+restaurantId).html(responce);
                    }
                });
            }
        });
    });
        
</script>    
{# infinitive scrolling #}
{# Rating #}
<script src="{{ asset('bundles/tablemain/rating/jquery.rating.js') }}"></script>
{# Rating #}
{% endblock %}    
{% block stylesheets %}
    {{ parent() }}
    {# infinitive scrolling #}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/tablemain/infinite-ajax-scroll/css/jquery.ias.css') }}">
    {# infinitive scrolling #}
    {# Rating #}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/tablemain/rating/jquery.rating.css') }}">
    {# Rating #}
{% endblock %}    
{% block content %}  
    <div class="container-fluid" id="restaurantList_main">
        {% include 'TableRestaurantBundle:Default:restaurantList.html.twig' %}
    </div>

        {# display navigation #}
    <div class="navigation">
            {{ knp_pagination_render(restaurantsList) }}
    </div>    
{% endblock %}    
