<div id="editTableTypePopup_{{tableType.id}}" class="modal hide" data-backdrop="static">
    <div class="modal-header">
        <a class="close" data-dismiss="modal"></a>
    </div>
    <div class="modal-body" >
        <form id="edit-table-type-form_{{tableType.id}}" action="{{ path('table_editTableType') }}" enctype="multipart/form-data" method="post">       
            <div class="container-fluid">   
                <div class="row-fluid">
                    <div class="row-fluid">
                        <span class="span12">
                            <div class="number_tables">
                                {% trans %}main.tableMap.tableList.form.label.tableOn{% endtrans %}
                                <input type="text" name="peopleCount" size="2" value="{{tableType.peopleCount}}"/>
                                мест(а)
                            </div>
                            <div id="customization_name"></div>
                            <div class="customization">
                                <div>Выбрать файл</div>
                                <input type="file" name="file[]" id="customization_file" size="1">
                            </div>
                        </span>
                    </div>    
                </div>
                <div class="row-fluid">
                    <label class="validationError">{% trans %}main.tableMap.tableList.form.error.peopleCount{% endtrans %}</label>
                    <div class="offset9 span3">
                        <input type="button" onClick="page.tableType.validateEditForm(this);" value="{% trans %}main.tableMap.tableList.form.label.load{% endtrans %}" class="but_load_file" />
                        <input type="hidden" name="tableTypeId" value="{{tableType.id}}" />
                    </div>   
                </div>    
            </div>
        </form>    
    </div>
</div>
