<div class="row-fluid">
    <div class="span5">
        {% trans %}main.tableMap.createMap.table{% endtrans %} № {{activeTable.tableNumber }}
    </div>
    <div class="span5">
        <input type="button" onclick='page.activeTable.loadTableTypeContainer(); return false;' value="{% trans %}main.tableMap.createMap.cancel{% endtrans %}"/>
    </div>
</div>
<div class="row-fluid">
    <div class="span2">
        <a href='#' onclick='page.activeTable.deleteActiveTable({{activeTable.id}}); return false;'>
            <img src="{{ asset('bundles/tablerestaurant/images/delete_table_btn.png') }}" />
        </a>
    </div>  
    <div class="span2">
        <a href='#' onclick='page.activeTable.updateActiveTablePosition({{activeTable.id}}); return false;'>
            <img src="{{ asset('bundles/tablerestaurant/images/update_table_btn.png') }}" />
        </a>
    </div>    
</div>