<script>
    
    $(function() {
        {% if tableMapObj is not null %}
            // load Map Scheme as background
            {% if tableMapObj.file is not null %}
                page.tableMap.loadMapScheme("{{baseUrl}}{{ vich_uploader_asset(tableMapObj, 'file') }}");
            {% endif %}
        {% endif %}
            
        $(".table-map-droppable").droppable({
            tolerance: 'fit',
            drop: function (event, ui) {
                var $canvas = $(this);
                if (!ui.draggable.hasClass('canvas-element')) {
                    var $canvasElement = ui.draggable.clone();
                    $canvasElement.addClass('canvas-element');
                    $canvasElement.draggable({
                        containment: '.table-map-droppable'
                    });
                    $canvas.append($canvasElement);
                    $canvasElement.css({
                        left: (ui.position.left),
                        top: (ui.position.top),
                        position: 'absolute'
                    });
                }
                // not for editable tables
                if (!ui.draggable.hasClass('active-table-draggable')) {
                    // init data
                    page.activeTable.initTableData((ui.position.top - $("#tableMapDroppable").position().top), (ui.position.left - $("#tableMapDroppable").position().left), $(ui.draggable[0]).attr("tabletypeid"));
                    $("#tableNumberContainer").modal('show');
                }
            }
        });
        // Make it draggable
        $(".active-table-draggable").draggable({
            cursor: 'move',
            containment: '.table-map-droppable'
        });
    });    
</script>
<div class="row-fluid title-tabs">
    <ul>
        {% for tableMap in tableMapList %}
            <li {% if tableMap.id == mapId%} class="active" {% endif %}>
                <a href="{{ path('table_viewCreateMap', {'restaurantId': restaurantId, 'mapId': tableMap.id}) }}">
                    {{tableMap.floor}} {% trans %}main.tableMap.createMap.floor{% endtrans %}
                    {% if tableMap.hall is not null %}
                        {{tableMap.hall}} {% trans %}main.tableMap.createMap.hall{% endtrans %}
                    {% endif %}
                </a>

                <a data-toggle="modal" href="#editTableMapPopup_{{tableMap.id}}">
                    <img src="{{ asset('bundles/tablerestaurant/images/edit_table_type_btn_small.png') }}" />
                </a>
                <a href='#' onclick='page.tableMap.deleteTableMap({{ tableMap.id }}); return false;'>
                    <img src="{{ asset('bundles/tablerestaurant/images/deleteFile_small.png') }}" />
                </a>
            </li>
            {# ==Modal Window for editTableMap==#}
            {% include 'TableRestaurantBundle:TableDashboard:editTableMap.html.twig' %}
            {# ==Modal Window for editTableMap==#}

        {% endfor %}
    </ul>
</div>

<div class="row-fluid" id="interactive-map-container">
    <div class="span8 table-map-droppable" id="tableMapDroppable">
        {% for activeTable in activeTableList %}
            <img title="{{activeTable.tableNumber}} {% trans %}main.tableMap.createMap.table{% endtrans %}" 
                 id="activeTable_{{activeTable.id}}" onmousedown='page.activeTable.loadActiveTable({{activeTable.id}});' 
                 class='active-table-draggable canvas-element' 
                 style="width: 60px; position: absolute; left: {{activeTable.leftPosition}}px; top: {{activeTable.topPosition}}px;"
                 tabletypeid='{{activeTable.tableType.id}}' src="{{baseUrl}}{{ vich_uploader_asset(activeTable.tableType, 'file') }}" />
        {% endfor %}      
    </div>

    <div class="span4 table-map-droppable-right" id="table-container">
        {% include 'TableRestaurantBundle:TableDashboard:viewTableTypeContainer.html.twig' %}      
    </div>
</div>
{# ==Modal Window for saveTable==#}
    {% include 'TableRestaurantBundle:TableDashboard:addActiveTable.html.twig' %}
{# ==Modal Window for saveTable==#}