{% if activeTable is not null %}
    <div class="row-fluid active-Table-Order-Reserve">
        <div class="span4">
            {% trans %}main.tableMap.orders.list.table{% endtrans %} {{activeTable.tableNumber}}
        </div>   
        <div class="span7">
            {% if acceptReserve %}
                <a onclick="page.tableOrder.initTableData({{activeTable.id}});" data-toggle="modal" href="#reservePopup4Admin">
            {% endif %} 
                {% trans %}main.tableMap.orders.list.reserve{% endtrans %}
            {% if acceptReserve %}    
                </a>  
            <input type="hidden" id="acceptReserve" value="{{acceptReserve}}" />
            {% endif %} 
        </div>
        <div class="span4">
            <input class="button button-cancel" onclick='page.tableOrder.viewFilter(); return false;' value="Отменить">
                <!--<img src="{{ asset('bundles/tablerestaurant/images/return_arrow.png') }}" />-->

        </div>
    </div>
{% endif %}
{% if tableOrderList is not null %}
    {% for tableOrder in tableOrderList %}  
        <div class="row-fluid reserve-table-info">
            <div class="span10">
                <p>{{tableOrder.reserveDate|date('d.m.y')}}</p>
                <p>{{tableOrder.reserveTime|date('H:s')}}</p>
                <p>{{tableOrder.peopleCount}} {% trans %}main.tableMap.orders.list.persons{% endtrans %}</p>
                <p>{{tableOrder.userName}}</p>
                <p>{{tableOrder.userPhone}}</p>
            </div>
            <div class="span2">
                <a href='#' onclick='page.tableOrder.deleteActiveTableOrder({{ tableOrder.id }}); return false;'>
                    <img src="{{ asset('bundles/tablerestaurant/images/deleteFile.png') }}" />
                </a>
            </div>
        </div>
    {% endfor %}
{% endif %}
{% if activeTable is not null %}
    {# ==Modal Window for Reserve==#}
        {% include 'TableRestaurantBundle:TableDashboard:viewReservePopup4Admin.html.twig' %} 
    {# ==Modal Window for Reserve==#}
{% endif %}
    
<script>
    $(function() {
        // Init calendar
        $.datepicker.setDefaults($.datepicker.regional['ru']);
        $( "#tableOrderDatepicker" ).datepicker({
                showOn: "button",
                buttonImage: "{{ asset('bundles/tablemain/images/calendar.png') }}",
                buttonImageOnly: true,
                minDate: '0',
                maxDate: '+1m', 
                onSelect: function(filterDate) {
                    page.tableOrder.refreshBookedTableListInAdminDashboard(filterDate);
                    $("#filterDate").val(filterDate);
                }
        });
        
        // Init time entry
        $('#tableOrderTimepicker').timeEntry({
            show24Hours: true,
            spinnerImage: ''
        });
    });    
</script>