{% extends 'TableMainBundle::layout_table_editor.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(function() { 
            page.common.allowDigitsOnly("valid-number");
        });  
    </script>
{% endblock %}    
{% block stylesheets %}
    {{ parent() }}
{% endblock %}    
{% block content %}
    <div class="container-fluid">
        <div class="row-fluid">
            {% include 'TableRestaurantBundle:TableDashboard:tableMapTabs.html.twig' %} 
        </div>
    </div>
    <div class="container-fluid">
        <form  id="table-map-form" action="{{ path('table_updateTableMap') }}" enctype="multipart/form-data" method="post"> 
            <div class="row-fluid">
                <div class="span12">
                    <div class="list-text-floor-hall">{% trans %}main.tableMap.createMap.restaurantList{% endtrans %}</div>
                    <select name="restaurantId" id="restaurantId" onchange="page.tableMap.refreshRestaurantList();">
                        {% for restaurant in restaurantList %}  
                            <option {% if restaurantId == restaurant.id %}selected{%endif%} value="{{restaurant.id}}">{{restaurant.name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <div class="container-fluid" id="mapFieldsContainer">
                        <div class="row-fluid">
                            <span class="span12">
                                <div class="list-text-floor-hall">{% trans %}main.tableMap.createMap.form.label.loadMap{% endtrans %}</div>
                                <div class="fileinput fileinput-new" data-provides="fileinput">
                                    <div class="input-group">
                                        <div class="form-control files-download" data-trigger="fileinput">
                                            <i class="glyphicon glyphicon-file fileinput-exists"></i>
                                            <span class="fileinput-filename"></span>
                                        </div>
                                        <span class="input-group-addon btn btn-default btn-file">
                                            <span class="fileinput-new">{% trans %}main.tableMap.tableList.form.label.selectTheFile{% endtrans %}</span>
                                            <input type="file" name="mapFile[]" size="1">
                                        </span>
                                    </div>
                                </div>
                            </span>
                        </div>
                        <div class="row-fluid specify-floor-room">
                            <span class="span4">
                                <div class="list-text-floor-hall">{% trans %}main.tableMap.createMap.form.label.floor{% endtrans %}</div>
                                <input type="text" name="mapFloor[]" size="2" class="valid-number" />
                            </span>
                            <span class="span5">
                                <div class="list-text-floor-hall">{% trans %}main.tableMap.createMap.form.label.hall{% endtrans %}</div>
                                <input type="text" name="mapHall[]" size="2" class="valid-number" />
                            </span>
                        </div>
                    </div>
                    <hr class="hr-line">
                    <div class="container-fluid">
                        <div class="row-fluid">
                            <div class="span12">
                                <div class="load-file">
                                    <a href="#" class="add-file" onclick="page.tableMap.addNewRow(); return false;">{% trans %}main.tableMap.tableList.form.label.addMore{% endtrans %}</a>
                                    <input type="button" onClick="page.tableMap.validateAddForm();" value="{% trans %}main.tableMap.createMap.form.label.save{% endtrans %}" class="but-load-file" />
                                    <input type="hidden" id="mapFileLabel" value="{% trans %}main.tableMap.createMap.form.label.loadMap{% endtrans %}" />
                                    <input type="hidden" id="mapFloorLabel" value="{% trans %}main.tableMap.createMap.form.label.floor{% endtrans %}" />
                                    <input type="hidden" id="mapHallLabel" value="{% trans %}main.tableMap.createMap.form.label.hall{% endtrans %}" />
                                    <input type="hidden" id="deleteRowIcon" value="{{ asset('bundles/tablerestaurant/images/deleteFile.png') }}" />
                                    <input type="hidden" id="selectTheFileLabel" value="{% trans %}main.tableMap.createMap.form.label.selectTheFile{% endtrans %}" />
                                    <label class="validationError">{% trans %}main.tableMap.createMap.form.errors{% endtrans %}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form> 
    </div> 
    <div class="container-fluid" id="tableMapContainer">
        {% include 'TableRestaurantBundle:TableDashboard:viewTableMap.html.twig' %} 
    </div>
{% endblock %}  