<script src="{{ asset('bundles/tablerestaurant/js/jquery.maskedinput.js') }}"></script>
{% for type, messages in app.session.flashBag.all %}
    {% for message in messages %}
        <div class="{{ type }}">
            {{ message|trans({}, 'FOSUserBundle') }}
        </div>
    {% endfor %}
{% endfor %}
<form novalidate id="fos-registration-form" action="{{ path('fos_user_registration_register') }}" {{ form_enctype(formReg) }} method="POST" class="fos_user_registration_register">
    <div id="fos_user_registration_form">

        <div>
                {{ form_errors(formReg) }}
                {{ form_start(formReg) }}
        </div>

        <div>
            {{ form_widget(formReg.username) }}
        </div>
        
        <div>
            {{ form_label(formReg.firstname) }}
            {{ form_errors(formReg.firstname) }}
            {% if formReg.firstname.vars.errors|length %}
                {{ form_widget(formReg.firstname, {'attr':{'class':'error-form-registration'} }) }}
            {%  else %}
                {{ form_widget(formReg.firstname) }}
            {% endif %}
        </div>

        <div>
            {{ form_label(formReg.lastname) }}
            {{ form_errors(formReg.lastname) }}
            {% if formReg.lastname.vars.errors|length %}
                {{ form_widget(formReg.lastname, {'attr':{'class':'error-form-registration'} }) }}
            {%  else %}
                {{ form_widget(formReg.lastname) }}
            {% endif %}
        </div>

        <div>
            {{ form_label(formReg.email) }}

            {% if formReg.email.vars.errors|length > 0 %}
            <ul>
                {% for error in formReg.email.vars.errors %}
                    <li>{{ error.message|raw }}</li>
                {% endfor %}
            </ul>
            {% endif %}

            {% if formReg.email.vars.errors|length %}
                {{ form_widget(formReg.email, {'attr':{'class':'error-form-registration'} }) }}
            {%  else %}
                {{ form_widget(formReg.email) }}
            {% endif %}
        </div>

        <div class="password-registration">
            {{ form_errors(formReg.plainPassword) }}
            {% if formReg.plainPassword.first.vars.errors|length or formReg.plainPassword.second.vars.errors|length %}
                <div id="fos_user_registration_form_plainPassword">
                    {{ form_row(formReg.plainPassword.first, {'attr':{'class':'error-form-registration'} }) }}
                    {{ form_row(formReg.plainPassword.second, {'attr':{'class':'error-form-registration'} }) }}
                </div>
            {%  else %}
                <div id="fos_user_registration_form_plainPassword">
                    {{ form_row(formReg.plainPassword.first) }}
                    {{ form_row(formReg.plainPassword.second) }}
                </div> 
            {% endif %}
            {% include "TableMainBundle:Component:ajaxPreloader.html.twig" %}
        </div>

        <div>
            {{ form_label(formReg.phone) }}
            {{ form_errors(formReg.phone) }}
            {% if formReg.phone.vars.errors|length %}
                {{ form_widget(formReg.phone, {'attr':{'class':'error-form-registration'} }) }}
            {%  else %}
                {{ form_widget(formReg.phone) }}
            {% endif %}
        </div>

        <div class="captcha-img">
            {{ form_label(formReg.captcha) }}
            {{ form_errors(formReg.captcha) }}
            {% if formReg.captcha.vars.errors|length %}
                {{ form_widget(formReg.captcha, {'attr':{'class':'error-form-registration'} }) }}
            {%  else %}
                {{ form_widget(formReg.captcha) }}
            {% endif %}
        </div>

        <div class="button-registration">
            <input type="submit" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" />
            <img id="registrationPreloader" style="display: none;" src="{{ asset('bundles/tablemain/images/ajax-loader.gif') }}" />
        </div>
        {{ form_end(formReg) }}
    </div>
</form>
