{% extends "TableMainBundle::layout-reg.html.twig" %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/applicationsonatauser/js/jquery.form.js') }}"></script>
    <script src="{{ asset('bundles/applicationsonatauser/js/registration.js') }}"></script>
    <script>
        $(function() { 
            $('#fos-registration-form').submit(function() { 
                $(this).ajaxSubmit({
                    type: 'post',
                    beforeSubmit: function() {
                       $("#registrationPreloader").show();
                    },
                    success: function(response) { 
                        $("#registrationPreloader").hide();
                        $("#modal-registration").html(response);
                    }
                });
                return false;
            });    
        });  
    </script>
{% endblock %}      
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/applicationsonatauser/css/main.css') }}">
{% endblock %}
{% block content %}
    <div class="modal-registration" id="modal-registration">
        {% include "FOSUserBundle:Registration:register_content.html.twig" %}
    </div>    
{% endblock content %}
