{% for type, messages in app.session.flashBag.all %}
    {% for message in messages %}
        <div class="{{ type }}">
            {{ message|trans({}, 'FOSUserBundle') }}
        </div>
    {% endfor %}
{% endfor %}
<form novalidate id="fos-registration-form" action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
    <div id="fos_user_registration_form">
        {{ form_start(form) }}
        {{ form_errors(form) }}

        <div>
            {{ form_widget(form.username) }}
        </div>
        
        <div>
            {{ form_label(form.firstname) }}
            {{ form_errors(form.firstname) }}
            {% if form.firstname.vars.errors|length %}
                {{ form_widget(form.firstname, {'attr':{'class':'error-form-registration'} }) }}
            {%  else %}
                {{ form_widget(form.firstname) }}
            {% endif %}
        </div>

        <div>
            {{ form_label(form.lastname) }}
            {{ form_errors(form.lastname) }}
            {% if form.lastname.vars.errors|length %}
                {{ form_widget(form.lastname, {'attr':{'class':'error-form-registration'} }) }}
            {%  else %}
                {{ form_widget(form.lastname) }}
            {% endif %}
        </div>

        <div>
            {{ form_label(form.email) }}

            {% if form.email.vars.errors|length > 0 %}
            <ul>
                {% for error in form.email.vars.errors %}
                    <li>{{ error.message|raw }}</li>
                {% endfor %}
            </ul>
            {% endif %}

            {% if form.email.vars.errors|length %}
                {{ form_widget(form.email, {'attr':{'class':'error-form-registration'} }) }}
            {%  else %}
                {{ form_widget(form.email) }}
            {% endif %}
        </div>

        <div class="password-registration">
            {{ form_errors(form.plainPassword) }}
            {% if form.plainPassword.first.vars.errors|length or form.plainPassword.second.vars.errors|length %}
                <div id="fos_user_registration_form_plainPassword">
                    {{ form_row(form.plainPassword.first, {'attr':{'class':'error-form-registration'} }) }}
                    {{ form_row(form.plainPassword.second, {'attr':{'class':'error-form-registration'} }) }}
                </div>
            {%  else %}
                <div id="fos_user_registration_form_plainPassword">
                    {{ form_row(form.plainPassword.first) }}
                    {{ form_row(form.plainPassword.second) }}
                </div> 
            {% endif %}
            {% include "TableMainBundle:Component:ajaxPreloader.html.twig" %}
        </div>

        <div>
            {{ form_label(form.phone) }}
            {{ form_errors(form.phone) }}
            {% if form.phone.vars.errors|length %}
                {{ form_widget(form.phone, {'attr':{'class':'error-form-registration'} }) }}
            {%  else %}
                {{ form_widget(form.phone) }}
            {% endif %}
        </div>

        <div class="captcha-img">
            {{ form_label(form.captcha) }}
            {{ form_errors(form.captcha) }}
            {% if form.captcha.vars.errors|length %}
                {{ form_widget(form.captcha, {'attr':{'class':'error-form-registration'} }) }}
            {%  else %}
                {{ form_widget(form.captcha) }}
            {% endif %}
        </div>

        <div class="button-registration">
            <input type="submit" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" />
            <img id="registrationPreloader" style="display: none;" src="{{ asset('bundles/tablemain/images/ajax-loader.gif') }}" />
        </div>
        {{ form_end(form) }}
    </div>
</form>
