<div class="row">
    <div class="span3">
        <a class="logo-main" href="{{ path('table_main_homepage') }}" title="logotip">
            <img src="{{ asset('bundles/tablemain/images/logotip.png') }}" alt="logotip"/>
        </a>
    </div>
    <div class="span7 list-city">
	{% for city in cityList %}
        <a class="btn cityList {% if searchCity == city.id %} active {%endif%}" city="{{city.id}}" href="#"
           onclick="page.restaurantFilter.selectCity4Search(this); page.restaurantFilter.refreshRestaurantList(); page.newsFilter.refreshNewsList();"> 
            {{city.name}} 
        </a>
	{% endfor %}
    </div>
    <div class="span2 log-in-top">
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <a href="{{ path('fos_user_security_logout') }}">
                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
            </a>
        {% else %}
            <a data-toggle="modal" data-target="#login" href="{{ path('fos_user_security_login') }}">
                {% trans %}main.login.buttonLabel{% endtrans %}
            </a>
            <a href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook' }) }}">
                <img src="{{ asset('bundles/tablemain/images/social-media/facebook.png') }}" />
            </a>
            <a href="{{ path('hwi_oauth_service_redirect', {'service': 'twitter' }) }}">
                <img src="{{ asset('bundles/tablemain/images/social-media/twitter.png') }}" />
            </a>
            <a href="{{ path('hwi_oauth_service_redirect', {'service': 'vkontakte' }) }}">
                <img src="{{ asset('bundles/tablemain/images/social-media/vkontakte.png') }}" />
            </a>
        {% endif %}

        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <a href="{{ path('table_order_history') }}">
                {% if app.user.firstname %}
                    {{app.user.firstname}}
                {% else %}
                    {{app.user.email}}
                {% endif %}
            </a>
        {% else %}
            <a data-toggle="modal" data-target="#register" href="{{ path('fos_user_registration_register') }}">
                {% trans %}main.register.buttonLabel{% endtrans %}
            </a>
        {% endif %}
    </div>
</div>
{# ==Modal Window for login==#}
<div class="modal fade hide modal-login" data-backdrop="static" id="login">

    <div class="modal-header modal-login-title">
        <a class="close" data-dismiss="modal"></a>
        <img id="loginPreloader" style="display: none;" src="{{ asset('bundles/tablemain/images/ajax-loader.gif') }}" />
        <h3>{% trans %}main.login.form.title{% endtrans %}</h3>
    </div>
    <div class="modal-body" >

    </div>
</div>
{# ==Modal Window for login==#}
{# ==Modal Window for registration==#}
<div class="modal hide modal-registration" data-backdrop="static" id="register">
    <div class="modal-header modal-registration-title">
        <a class="close" data-dismiss="modal"></a>
        <img id="registrationPreloader" style="display: none;" src="{{ asset('bundles/tablemain/images/ajax-loader.gif') }}" />
        <h3>{% trans %}main.register.form.title{% endtrans %}</h3>
    </div>
    <div class="modal-body" >

    </div>    

</div>
{# ==Modal Window for registration==#}
