<div class="row">
    <div class="span3">
	<a class="logo-main" href="" title="logotip">
            <img src="{{ asset('bundles/tablemain/images/logotip.png') }}" alt="logotip"/>
        </a>
    </div>
    <div class="span6 list-city">
	{% for city in cityList %}
		<a class="btn" href="?city={{city.id}}"> {{city.name}} </a>
	{% endfor %}
    </div>
    <div class="span3">
	<a data-toggle="modal" data-target="#register" href="{{ path('fos_user_registration_register') }}">
            {% trans %}main.register.buttonLabel{% endtrans %}
        </a>
	<a data-toggle="modal" data-target="#login" href="{{ path('fos_user_security_login') }}">
            {% trans %}main.login.buttonLabel{% endtrans %}
        </a>
    </div>
</div>
{# ==Modal Window for login==#}
    <div class="modal fade hide modal-login" data-backdrop="static" id="login">

        <div class="modal-header modal-login-title">
            <a class="close" data-dismiss="modal"></a>
            <img id="loginPreloader" style="display: none;" src="{{ asset('bundles/tablemain/images/ajax-loader.gif') }}" />
            <h3>{% trans %}main.login.form.title{% endtrans %}</h3>
        </div>
        <div class="modal-body" >

        </div>
    </div>
{# ==Modal Window for login==#}
{# ==Modal Window for registration==#}
    <div class="modal hide modal-registration" data-backdrop="static" id="register">
        <div class="modal-header modal-registration-title">
            <a class="close" data-dismiss="modal"></a>
            <img id="registrationPreloader" style="display: none;" src="{{ asset('bundles/tablemain/images/ajax-loader.gif') }}" />
            <h3>{% trans %}main.register.form.title{% endtrans %}</h3>
        </div>
        <div class="modal-body" >
            
        </div>    

    </div>
{# ==Modal Window for registration==#}
