<script>
    $(function(){ 
        $('#searchRestaurantsStr_main').on('keyup', function(e) {
            if (e.which == 13) { 
                page.restaurantFilter.refreshRestaurantList();
            }
        });
    });
</script>

<div class="row wrap_search_categories">
    <div class="span1 logo-mini">
	<a href="{{ path('table_main_homepage') }}" class="logo-mini-img"></a>
    </div>
    <div class="span2 btn-categories">
	<select class ="restaurantCategoryList_main" id='restaurantCategory_main' name='restaurantCategory_main' multiple="multiple">
		{% for category in categoryList %}
		    <option value='{{ category.id }}'>{{ category.name }}</option>    
		{% endfor %}
	</select> 
    </div>
    <div class="span2 btn-kitchen">
	<select class="restaurantKitchenList_main" id='restaurantKitchen_main' name='restaurantKitchen_main' multiple="multiple">
		{% for kitchen in kitchenList %}
		    <option value='{{ kitchen.id }}'>{{ kitchen.name }}</option>    
		{% endfor %}
	</select> 
    </div>
    <div class="span5 serch-text">
	<input type="text" name="searchRestaurantsStr_main" id="searchRestaurantsStr_main" value="" />
	<input type="hidden" name="searchRestaurantsCity_main" id="searchRestaurantsCity_main" value="{{searchCity}}" />
    </div>
    <div class="span1 serch-btn">
	<input type="button" onclick="page.restaurantFilter.refreshRestaurantList();" value="" />
    </div>
    <div class="span1 serch-map">
	<input type="button" onclick="location.href='{{ path('table_map') }}'" />
    </div>
</div>
