{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% extends "TableMainBundle::layout.html.twig" %}
{% block content %}
    <div class="sonata-user-edit-profile">

        {{ form_errors(form) }}

        {% form_theme form _self %}

        {% block form_row %}

            {# custom field row output #}
        {% endblock form_row %}

        <form novalidate action="{{ path('sonata_user_profile_edit') }}" method="POST" class="form-horizontal">
            <div>
                {{ form_label(form.username) }}
                {{ form_errors(form.username) }}
                {% if form.username.vars.errors|length %}
                    {{ form_widget(form.username, {'attr':{'class':'error-form-registration'} }) }}
                {%  else %}
                    {{ form_widget(form.username) }}
                {% endif %}
            </div>

            <div>
                {{ form_label(form.lastname) }}
                {{ form_errors(form.lastname) }}
                {% if form.lastname.vars.errors|length %}
                    {{ form_widget(form.lastname, {'attr':{'class':'error-form-registration'} }) }}
                {%  else %}
                    {{ form_widget(form.lastname) }}
                {% endif %}
            </div>

            <div>
                {{ form_label(form.email) }}
                {{ form_errors(form.email) }}
                {% if form.email.vars.errors|length %}
                    {{ form_widget(form.email, {'attr':{'class':'error-form-registration'} }) }}
                {%  else %}
                    {{ form_widget(form.email) }}
                {% endif %}
            </div>  
            <div>
                {{ form_errors(form.password) }}
                {% if form.password.vars.errors|length %}
                    {{ form_widget(form.password, {'attr':{'class':'error-form-registration'} }) }}
                {%  else %}
                    {{ form_widget(form.password) }}
                {% endif %}
            </div>

            <div>
                {{ form_label(form.phone) }}
                {{ form_errors(form.phone) }}
                {% if form.phone.vars.errors|length %}
                    {{ form_widget(form.phone, {'attr':{'class':'error-form-registration'} }) }}
                {%  else %}
                    {{ form_widget(form.phone) }}
                {% endif %}
            </div>

            {{ form_rest(form) }}
            <input type="submit" name="submit" value="{{ 'profile.save.button.label'|trans({}, 'SonataUserBundle') }}" />
        </form>
    </div>
{% endblock content %}
