{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% extends "TableMainBundle::layout.html.twig" %}
{% block content %}
    <div class="sonata-user-show">
        <p>
            <span class="user-profile-label">{{ 'profile.show.username.label'|trans({}, 'SonataUserBundle') }}</span>
            <span>{{ app.user.username }}</span>
        </p>
        <p>
            <span class="user-profile-label">{{ 'profile.show.lastname.label'|trans({}, 'SonataUserBundle') }}</span>
            <span>{{ app.user.lastname }}</span>
        </p>
        <p>
            <span class="user-profile-label">{{ 'profile.show.email.label'|trans({}, 'SonataUserBundle') }}</span>
            <span>{{ app.user.email }}</span>
        </p>
        <p>
            <span class="user-profile-label">{{ 'profile.show.phone.label'|trans({}, 'SonataUserBundle') }}</span>
            <span>{{ app.user.phone }}</span>
        </p>
        <a class="user-profile-but" href="{{ path('sonata_user_profile_edit') }}">{{ "profile.show.button.label" | trans({}, 'SonataUserBundle')}}</a>
    </div>
{% endblock content %}
