{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% extends "TableMainBundle::layout.html.twig" %}
{% block content %}
    <div class="sonata-user-show">
        <p>
            <h4>{{ 'profile.username.label'|trans({}, 'SonataUserBundle') }}</h4>
            <b>{{ app.user.username }}</b>
        </p>
        <p>
            <h4>{{ 'profile.lastname.label'|trans({}, 'SonataUserBundle') }}</h4>
            <b>{{ app.user.lastname }}</b>
        </p>
        <p>
            <h4>{{ 'profile.email.label'|trans({}, 'SonataUserBundle') }}</h4>
            <b>{{ app.user.email }}</b>
        </p>
        <p>
            <h4>{{ 'profile.phone.label'|trans({}, 'SonataUserBundle') }}</h4>
            <b>{{ app.user.phone }}</b>
        </p>
        <a href="{{ path('sonata_user_profile_edit') }}">{{ "profile.edit.link" | trans({}, 'SonataUserBundle')}}</a>
    </div>
{% endblock content %}
