{% extends 'TableMainBundle::layout.html.twig' %}
{% block content %}
    <form action="{{ path('fos_user_resetting_reset_password') }}" method="POST" class="fos_user_resetting_reset">
        <div>
            <label for="username">{{ 'resetting.request.password'|trans({}, 'FOSUserBundle') }}</label>
            <input type="password" name="password" required="required"/>
        </div>
        <div>
            <label for="username">{{ 'resetting.request.confirm_password'|trans({}, 'FOSUserBundle') }}</label>
            <input type="password" name="confirmPassword" required="required"/>
        </div>
        <div>
            <input type="submit" value="{{ 'resetting.reset.submit'|trans({}, 'FOSUserBundle') }}" />
        </div>
        <input type="hidden" value="{{userId}}" name="userId"/>
    </form>
    {% if not_match_passwords is defined %}
        <p>{{ 'resetting.request.not_match_passwords'|trans({}, 'FOSUserBundle') }}</p>
    {% endif %}   
{% endblock %}