<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
        <title>{% block title %}{% endblock %}</title>

        <meta name="keywords" content="{% block keywords %}{% endblock %}">
        <meta name="description" content="{% block description %}{% endblock %}">

        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/tablemain/css/bootstrap.css') }}">
            <!--<link rel="stylesheet" type="text/css" href="{{ asset('bundles/tablemain/css/bootstrap-responsive.css') }}">-->
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/tablemain/css/jquery-ui.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/tablemain/css/main.css') }}">
            <!--[if lt IE 9]>
                <link rel="stylesheet" type="text/css" href="{{ asset('bundles/tablemain/css/ie-css.css') }}">
            <![endif]-->
	    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/tablemain/css/bootstrap-multiselect.css') }}">
            {# Rating #}
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/tablemain/rating/jquery.rating.css') }}">
            {# Rating #}
            {# infinitive scrolling #}
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/tablemain/infinite-ajax-scroll/css/jquery.ias.css') }}">
            {# infinitive scrolling #}
            
            {# include leaflet map#}
            <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
            <!--[if lte IE 8]>
                <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.ie.css" />
            <![endif]-->
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/tablerestaurant/css/map.css') }}">
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('bundles/tablemain/js/jquery.min.js') }}"></script>
            <script src="{{ asset('bundles/tablemain/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('bundles/tablemain/js/bootstrap-dropdown.js') }}"></script>
            <script src="{{ asset('bundles/tablemain/js/respond.min.js') }}"></script>
            <script src="{{ asset('bundles/tablemain/js/placeholder-ie-support.js') }}"></script>
	    <script src="{{ asset('bundles/tablemain/js/bootstrap-multiselect.js') }}"></script>
           {# <script src="{{ asset('bundles/tablemain/js/bootstrap-modal.js') }}"></script> #}
	    <script src="{{ asset('bundles/tablerestaurant/js/common.js') }}"></script>
            <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
            {# Rating #}
            <script src="{{ asset('bundles/tablemain/rating/jquery.rating.js') }}"></script>
            {# Rating #}
            {# infinitive scrolling #}
            <script src="{{ asset('bundles/tablemain/infinite-ajax-scroll/js/jquery-ias.min.js') }}"></script>
            {# infinitive scrolling #}
            
	    <!-- Initialize the multiselect plugin: -->
	    <script type="text/javascript">
	    $(document).ready(function() {
	        $('.restaurantCategoryList_main').multiselect({
			buttonText: function(options, select) {
				return "{% trans %}main.labels.search.category{% endtrans %}";
			},
			onChange: function(element, checked) {
				page.restaurantFilter.refreshRestaurantList();
			}
		});
		$('.restaurantKitchenList_main').multiselect({
			buttonText: function(options, select) {
				return "{% trans %}main.labels.search.kitchen{% endtrans %}";
			},
			onChange: function(element, checked) {
				page.restaurantFilter.refreshRestaurantList();
			}
		});
	    });
	    </script>
            
            {# include leaflet map#}
            <script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>
        {% endblock %}

    </head>
    <body>
        <div class="container">
            <div class="row header">
                <div class="span12">
		    {% block header %}
			{% include 'TableMainBundle:Component:header.html.twig' %}
		    {% endblock %}
                </div>
            </div>
	    <div class="row">
                <div class="span12">
		    {% block searchContainer %}
			{% include 'TableMainBundle:Component:searchContainer.html.twig' %}
		    {% endblock %}
                </div>
            </div>
            <div class="row content">
                <div class="span9">
                    <div class="wrap_breadcrumb">{{ wo_render_breadcrumbs() }}</div>
                    {% block content %}

                    {% endblock %}
                </div>
                <div class="span3 stock-block">
                    {% block rightSidebar %}
                        {% include 'TableMainBundle:Component:rightSidebar.html.twig' %}
                    {% endblock %}
                </div>
            </div>
            <div class="row footer">
                <div class="span12">
                    {% block footer %}
			{% include 'TableMainBundle:Component:footer.html.twig' %}
		    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
