<div class="row">
    <div class="span3">
        <a class="logo-main" href="{{ path('table_main_homepage') }}" title="logotip">
            <img src="{{ asset('bundles/tablemain/images/logotip.png') }}" alt="logotip"/>
        </a>
    </div>
    <div class="span2">
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <a href="{{ path('fos_user_security_logout') }}">
                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
            </a>
            <a href="{{ path('table_order_history') }}">
                {% if app.user.firstname %}
                    {{app.user.firstname}}
                {% else %}
                    {{app.user.username}}
                {% endif %}
            </a>
        {% endif %}
    </div>
</div>
