<script>
    $(function() {
        var restaurants = $('[name="restaurantId"]');
        for (var i=0; i<restaurants.length; i++) { 
            
            var restaurantIcon = L.icon({
                iconUrl: "{{ asset('bundles/tablerestaurant/images/label_on_the_map.png') }}",

                iconSize:     [39, 41], // size of the icon
                iconAnchor:   [22, 94], // point of the icon which will correspond to marker's location
                shadowAnchor: [4, 62],  // the same for the shadow
                popupAnchor:  [-3, -76] // point from which the popup should open relative to the iconAnchor
            });
            var latitude = $("#latitude_" + restaurants[i].value).val();
            var longitude = $("#longitude_" + restaurants[i].value).val();
            var restaurantName = $("#restaurantName_" + restaurants[i].value).val();
            var reserveButton = $("#reserveButton_" + restaurants[i].value).val();

            var restaurantContent = "<div><b>" + restaurantName + "</b></div>" + reserveButton;

            var map = L.map('restaurant-map_' + restaurants[i].value, {
                center: new L.LatLng(latitude, longitude), 
                zoom: 17
            });
            L.tileLayer('http://{s}.tile.cloudmade.com/{key}/{styleId}/256/{z}/{x}/{y}.png', {
                key: 'BC9A493B41014CAABB98F0471D759707',
                styleId: 997,
                attribution: '',
                maxZoom: 18
            }).addTo(map);

            var marker = L.marker([latitude, longitude], {icon: restaurantIcon}).addTo(map);
            marker.bindPopup(restaurantContent);
        }
    });

</script>
<div class="restaurantList-container">
    <table class="title-top_restoraunt">    
        <tr>
            <td><span></span></td>
            <td><span>
                    <span>
                        {% trans %}main.restaurant.label.top{% endtrans %}
                    </span>
                </span>
            </td>
            <td><span></span></td>
        </tr>
    </table>
    {% for restaurant in restaurantsList %}
        <div class="restaurant-container">
            <div class="restaurant-img-container">
                <div class="restaurant-img">
                    <a href="{{ path('table_view_restaurant', {'id': restaurant.id}) }}" >
                        {% thumbnail restaurant.photo, 'reference' %}
                    </a>    
                </div>
            </div>
            <div class="restaurant-content">
                <p class="restaurant-content-name">
                    <a href="{{ path('table_view_restaurant', {'id': restaurant.id}) }}" >{{ restaurant.name }}</a>
                </p>
                <p class="restaurant-content-font-category">
                    {% trans %}main.labels.category{% endtrans %}
                </p>
                <p class="restaurant-categories">
                    {{ restaurant.categories|join(', ') }}
                </p>
                <p class="restaurant-content-font-category">
                    {% trans %}main.labels.kitchen{% endtrans %}
                </p>
                <p class="restaurant-categories">
                    {{ restaurant.kitchens|join(', ') }}
                </p>
                <p  class="restaurant-content-font-category restaurant-adress">
                     {% trans %}main.labels.address{% endtrans %}
                </p>
                <p class="restaurant-categories">
                    {{ restaurant.city.name }}, {{ restaurant.street }}, {{ restaurant.house }}
                    <a data-toggle="modal" href="#restaurantMap_{{restaurant.id}}">
                        <img src="{{ asset('bundles/tablerestaurant/images/label_card.png') }}" />
                    </a>   
                </p>
            </div>
            <div>
                {% include 'TableRestaurantBundle:Default:rating.html.twig' with {'restaurant': restaurant, 'isRatingDisabled': isRatingDisabled, 'restaurantsWhoHadHasAlreadyRating': restaurantsWhoHadHasAlreadyRating, 'id': restaurant.id} %} 
            </div>
            <div class="restaurant-content-reserve">    
                {% if anonim %}
                    <a class="btn btn-primary" data-toggle="modal" data-target="#login" href="{{ path('fos_user_security_login') }}">
                        {% trans %}main.order.button{% endtrans %}
                    </a>
                {% else %}
                    <a class="btn btn-primary" data-toggle="modal" data-target="#reserve_{{ restaurant.id }}" href="{{ path('table_order_reserve', {'id': restaurant.id}) }}">
                        {% trans %}main.order.button{% endtrans %}
                    </a>
                {% endif %}
                    
            </div>
            {# ==Modal Window for reserve==#}
            <div class="modal fade hide modal-reserve" data-backdrop="static" id="reserve_{{ restaurant.id }}">

                <div class="modal-header modal-login-title">
                    <a class="close" data-dismiss="modal" onclick="page.common.closeModalWindow();"></a>
                    <h3>{% trans %}main.order.form.title{% endtrans %} {{restaurant.name}}</h3>
                </div>
                <div class="modal-body" >

                </div>
            </div>
            {# ==Modal Window for reserve==#}
            
            {# ==Modal Window for map==#}

                {% include 'TableRestaurantBundle:Default:restaurantMap.html.twig' %} 
            {# ==Modal Window for map==#}
            
        </div> 
    {% endfor %}
    {# display navigation #}
    <div class="navigation">
            {{ knp_pagination_render(restaurantsList) }}
    </div>  
</div>
    