<div class="restaurantList-container">
    {% for restaurant in restaurantsList %}
        <div class="restaurant-container">
            <div class="restaurant-img-container">
                <div class="restaurant-img">{% thumbnail restaurant.photo, 'reference' %}</div>
            </div>
            <div class="restaurant-content">
                <p class="restaurant-content-name">
                    <a href="#" >{{ restaurant.name }}</a>
                </p>
                <p>
                    {{ restaurant.category.name }}
                </p>
                <p>
                    {% trans %}main.labels.kitchen{% endtrans %}
                </p>
                <p class="restaurant-content-font">
                    {{ restaurant.kitchens|join(',') }}
                </p>
                <p>
                     {% trans %}main.labels.address{% endtrans %}
                </p>
                <p class="restaurant-content-font">
                    {{ restaurant.city }}, {{ restaurant.street }}, {{ restaurant.house }}
                </p>
            </div>
            <div class="restaurant-content-reserve">
                <img src="{{ asset('bundles/tablerestaurant/images/stars.png') }}" title="" alt="">
                <a class="btn btn-primary" data-toggle="modal" data-target="#reserve_{{ restaurant.id }}" href="{{ path('table_order_reserve', {'id': restaurant.id}) }}">
                    {% trans %}main.order.button{% endtrans %}
                </a>
            </div>
        </div>
        {# ==Modal Window for reserve==#}
        <div class="modal fade hide modal-reserve" data-backdrop="static" id="reserve_{{ restaurant.id }}">

            <div class="modal-header modal-login-title">
                <a class="close" data-dismiss="modal"></a>
                <h3>{% trans %}main.order.form.title{% endtrans %} {{restaurant.name}}</h3>
            </div>
            <div class="modal-body" >

            </div>
        </div>
    {% endfor %}
</div>