{% for tableOrder in tableOrderHistory %}
    <tr>
        <td style="text-align:center; width:100px;">
            {{tableOrder.reserveDate|date('d-m-Y')}}
        </td>
        <td style="text-align:center; width:100px;">
            {{tableOrder.reserveTime|date('H:i:s')}}
        </td>
        <td>
            <p class="rest-name-table">
                {{tableOrder.restaurant.name}}
                <a onclick="page.restaurantMap.onenMap({{tableOrder.restaurant.id}});" data-toggle="modal" href="#restaurantMap_{{tableOrder.restaurant.id}}">
                    <img src="{{ asset('bundles/tablerestaurant/images/label_card.png') }}" />
                </a>  
            </p>    
        </td>
        <td>
            {% include 'TableRestaurantBundle:Default:rating.html.twig' with {'restaurant': tableOrder.restaurant, 'isRatingDisabled': isRatingDisabled, 'restaurantsWhoHadHasAlreadyRating': restaurantsWhoHadHasAlreadyRating, 'id': tableOrder.id} %}
            <a class="btn btn-primary" data-toggle="modal" data-target="#reserve_{{ tableOrder.restaurant.id }}" href="{{ path('table_order_reserve', {'id': tableOrder.restaurant.id}) }}">
                {% trans %}main.order.button{% endtrans %}
            </a>
        </td>
    </tr>
    {# ==Modal Window for reserve==#}
    <div class="modal fade hide modal-reserve" data-backdrop="static" id="reserve_{{ tableOrder.restaurant.id }}">

        <div class="modal-header modal-login-title">
            <a class="close" data-dismiss="modal"></a>
            <h3>{% trans %}main.order.form.title{% endtrans %} {{tableOrder.restaurant.name}}</h3>
        </div>
        <div class="modal-body" >

        </div>
    </div>
    {# ==Modal Window for map==#}
        {% include 'TableRestaurantBundle:Default:restaurantMap.html.twig' with {'restaurant': tableOrder.restaurant} %} 
    {# ==Modal Window for map==#}
{%endfor%}
<input type="hidden" id="map-icon" value="{{ asset('bundles/tablerestaurant/images/label_on_the_map.png') }}" />    
                