{% extends 'TableMainBundle::layout.html.twig' %}
{% block javascripts %}
    {{ parent() }}
{# Rating #}
<script>
    // Rating
    $(function(){ 
        $('.rating').rating({
            callback: function(value, link){ 
                var restaurantId = $(this).attr('name');
                $.ajax({
                    url: Routing.generate('table_update_restaurant_rating'),
                    data: {restaurantId: restaurantId, value: value},
                    type: "POST",
                    dataType: "html"
                });
            }
        });
    });
        
</script> 
<script src="{{ asset('bundles/tablemain/rating/jquery.rating.js') }}"></script>
{# Rating #}
{% endblock %}    
{% block stylesheets %}
    {{ parent() }}
    {# Rating #}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/tablemain/rating/jquery.rating.css') }}">
    {# Rating #}
{% endblock %}    
{% block content %}
    <div class="container-fluid">
        <div class="restaurant-container">
            <div class="restaurant-img-container">
                <div class="restaurant-img">{% thumbnail restaurant.photo, 'reference' %}</div>
            </div>
            <div class="restaurant-content">
                <p class="restaurant-content-name">
                    <a href="#" >{{ restaurant.name }}</a>
                </p>
                <p>
                    {{ restaurant.categories|join(',') }}
                </p>
                <p>
                    {% trans %}main.labels.kitchen{% endtrans %}
                </p>
                <p class="restaurant-content-font">
                    {{ restaurant.kitchens|join(',') }}
                </p>
                <p>
                     {% trans %}main.labels.address{% endtrans %}
                </p>
                <p class="restaurant-content-font">
                    {{ restaurant.city }}, {{ restaurant.street }}, {{ restaurant.house }}
                </p>
                 <p>
                     {% trans %}main.labels.scedule{% endtrans %}
                </p>
                <p class="restaurant-content-font">
                    {% for schedule in restaurant.restaurantSchedule %}
                        <p>{{schedule.dayFromStr}} - {{schedule.dayToStr}} {{schedule.timeFrom|date('H:i')}} - {{schedule.timeTo|date('H:i')}}</p>
                    {% endfor %}
                </p>
            </div>
            <div class="restaurant-content-reserve">
                <input name="{{ restaurant.id }}" type="radio" class="rating required" value="1" {% if anonim %}disabled="disabled"{%endif%} {% if restaurant.rating == 1 %}checked="checked"{%endif%}/>
                <input name="{{ restaurant.id }}" type="radio" class="rating" value="2" {% if anonim %}disabled="disabled"{%endif%}  {% if restaurant.rating == 2 %}checked="checked"{%endif%}/>
                <input name="{{ restaurant.id }}" type="radio" class="rating" value="3" {% if anonim %}disabled="disabled"{%endif%}  {% if restaurant.rating == 3 %}checked="checked"{%endif%}/>
                <input name="{{ restaurant.id }}" type="radio" class="rating" value="4" {% if anonim %}disabled="disabled"{%endif%}  {% if restaurant.rating == 4 %}checked="checked"{%endif%}/>
                <input name="{{ restaurant.id }}" type="radio" class="rating" value="5" {% if anonim %}disabled="disabled"{%endif%}  {% if restaurant.rating == 5 %}checked="checked"{%endif%}/>
                {% if anonim %}
                    <a class="btn btn-primary"  href="{{ path('table_main_auth_page') }}">
                        {% trans %}main.order.button{% endtrans %}
                    </a>
                {% else %}
                    <a class="btn btn-primary" data-toggle="modal" data-target="#reserve_{{ restaurant.id }}" href="{{ path('table_order_reserve', {'id': restaurant.id}) }}">
                        {% trans %}main.order.button{% endtrans %}
                    </a>
                {% endif %}

            </div>
        </div>
        {# ==Modal Window for reserve==#}
        <div class="modal fade hide modal-reserve" data-backdrop="static" id="reserve_{{ restaurant.id }}">

            <div class="modal-header modal-login-title">
                <a class="close" data-dismiss="modal"></a>
                <h3>{% trans %}main.order.form.title{% endtrans %} {{restaurant.name}}</h3>
            </div>
            <div class="modal-body" >

            </div>
        </div>
    </div>  
{% endblock %}    