{% for tableOrder in tableOrderHistory %}
    <tr>
        <td style="text-align:center; width:100px;">
            {{tableOrder.reserveDate|date('d-m-Y')}}
        </td>
        <td style="text-align:center; width:100px;">
            {{tableOrder.reserveTime|date('H:i:s')}}
        </td>
        <td>
            <p class="rest-name-table">{{tableOrder.restaurant.name}}</p>
            <p>{{ tableOrder.restaurant.categories|join(',') }}</p>
            <p>{{ tableOrder.restaurant.city.name }}, {{ tableOrder.restaurant.street }}, {{ tableOrder.restaurant.house }}</p>
            <a data-toggle="modal" data-target="#restaurantMap_{{ tableOrder.restaurant.id }}" href="{{ path('table_restaurant_map', {'id': tableOrder.restaurant.id}) }}">
                <img src="{{ asset('bundles/tablerestaurant/images/map-button.jpg') }}" />
            </a>
        </td>
        <td>
            {% include 'TableRestaurantBundle:Default:rating.html.twig' with {'restaurant': tableOrder.restaurant, 'isRatingDisabled': isRatingDisabled, 'restaurantsWhoHadHasAlreadyRating': restaurantsWhoHadHasAlreadyRating, 'id': tableOrder.id} %}
            <a class="btn btn-primary" data-toggle="modal" data-target="#reserve_{{ tableOrder.restaurant.id }}" href="{{ path('table_order_reserve', {'id': tableOrder.restaurant.id}) }}">
                {% trans %}main.order.button{% endtrans %}
            </a>
        </td>
    </tr>
    {# ==Modal Window for reserve==#}
    <div class="modal fade hide modal-reserve" data-backdrop="static" id="reserve_{{ tableOrder.restaurant.id }}">

        <div class="modal-header modal-login-title">
            <a class="close" data-dismiss="modal"></a>
            <h3>{% trans %}main.order.form.title{% endtrans %} {{tableOrder.restaurant.name}}</h3>
        </div>
        <div class="modal-body" >

        </div>
    </div>
    {# ==Modal Window for map==#}
    <div class="modal fade hide" data-backdrop="static" id="restaurantMap_{{ tableOrder.restaurant.id }}">

        <div class="modal-header">
            <a class="close" data-dismiss="modal" onclick="page.common.closeModalWindow();"></a>
            <h3>{% trans %}main.map.form.title{% endtrans %}</h3>
        </div>
        <div class="modal-body" >

        </div>
    </div>
    {# ==Modal Window for map==#}
{%endfor%}
                