{% extends 'TableMainBundle::layout.html.twig' %}
{% block javascripts %}
    {{ parent() }}
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
{# Rating #}
<script>
    // Rating
    $(function(){ 
        $('.rating').rating({
            callback: function(value, link){ 
                var restaurantId = $(this).attr('name');
                $.ajax({
                    url: Routing.generate('table_update_restaurant_rating'),
                    data: {restaurantId: restaurantId, value: value, objId: restaurantId},
                    type: "POST",
                    dataType: "html",
                    success: function(responce) {
                        location.reload();
                        //$('.restaurant-rating-'+restaurantId).html(responce);
                    }
                });
            }
        });
    });
        
</script> 
<script src="{{ asset('bundles/tablemain/rating/jquery.rating.js') }}"></script>
{# Rating #}
{% endblock %}    
{% block stylesheets %}
    {{ parent() }}
    {# Rating #}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/tablemain/rating/jquery.rating.css') }}">
    {# Rating #}
{% endblock %}    
{% block content %}
    <div class="container-fluid">
        <div class="restaurant-container">
            <div class="restaurant-img-container">
                <div class="restaurant-img">{% thumbnail restaurant.photo, 'reference' %}</div>
            </div>
            <div class="restaurant-content">
                <p class="restaurant-content-name">
                    <a href="#" >{{ restaurant.name }}</a>
                </p>
                <p class="restaurant-content-font-category">
                    {% trans %}main.labels.category{% endtrans %}
                </p>
                <p class="restaurant-content-font">
                    {{ restaurant.categories|join(',') }}
                </p>
                <p class="restaurant-content-font-category">
                    {% trans %}main.labels.kitchen{% endtrans %}
                </p>
                <p class="restaurant-content-font">
                    {{ restaurant.kitchens|join(',') }}
                </p>
                <p class="restaurant-content-font-category">
                    {% trans %}main.labels.additionalServices{% endtrans %}
                </p>
                <p class="restaurant-content-font">
                    {{ restaurant.additionalServices|join(',') }}
                </p>
                <p class="restaurant-content-font-category">
                     {% trans %}main.labels.address{% endtrans %}
                </p>
                <p class="restaurant-content-font">
                    {{ restaurant.city.name }}, {{ restaurant.street }}, {{ restaurant.house }}
                </p>
                 <p class="restaurant-content-font-category">
                     {% trans %}main.labels.scedule{% endtrans %}
                </p>
                <p class="restaurant-content-font">
                    {% for schedule in restaurant.restaurantSchedule %}
                     {{schedule.dayFromStr}} - {{schedule.dayToStr}} {{schedule.timeFrom|date('H:i')}} - {{schedule.timeTo|date('H:i')}}
                    {% endfor %}
                </p>
            </div>
            <div class="restaurant-content-reserve restaurant-rating-{{ restaurant.id }}">
                {% include 'TableRestaurantBundle:Default:rating.html.twig' with {'restaurant': restaurant, 'isRatingDisabled': isRatingDisabled, 'restaurantsWhoHadHasAlreadyRating': restaurantsWhoHadHasAlreadyRating, 'id': restaurant.id} %}
                {% if anonim %}
                    <a class="btn btn-primary"  href="{{ path('table_main_auth_page') }}">
                        {% trans %}main.order.button{% endtrans %}
                    </a>
                {% else %}
                    <a class="btn btn-primary" data-toggle="modal" data-target="#reserve_{{ restaurant.id }}" href="{{ path('table_order_reserve', {'id': restaurant.id}) }}">
                        {% trans %}main.order.button{% endtrans %}
                    </a>
                {% endif %}

            </div>
        </div>
        {# ==Modal Window for reserve==#}
        <div class="modal fade hide modal-reserve" data-backdrop="static" id="reserve_{{ restaurant.id }}">

            <div class="modal-header modal-login-title">
                <a class="close" data-dismiss="modal"></a>
                <h3>{% trans %}main.order.form.title{% endtrans %} {{restaurant.name}}</h3>
            </div>
            <div class="modal-body" >

            </div>
        </div>
    </div>  
{% endblock %}    