{% extends 'TableMainBundle::layout.html.twig' %}
{% block javascripts %}
    {{ parent() }}
{# SLIDER #}
<script src="{{ asset('bundles/tablemain/lofslidernews/js/jquery.easing.js') }}"></script>
<script src="{{ asset('bundles/tablemain/lofslidernews/js/jquery.touchSwipe.min.js') }}"></script>
<script src="{{ asset('bundles/tablemain/lofslidernews/js/lofslidernews-script.js') }}"></script>
{# SLIDER #}

{# FANCYBOX #}
<script src="{{ asset('bundles/tablemain/fancy-box/jquery.fancybox.pack.js') }}"></script>
<!-- Optionally add helpers - button, thumbnail and/or media -->
<script src="{{ asset('bundles/tablemain/fancy-box/helpers/jquery.fancybox-buttons.js') }}"></script>
<script src="{{ asset('bundles/tablemain/fancy-box/helpers/jquery.fancybox-media.js') }}"></script>
<script src="{{ asset('bundles/tablemain/fancy-box/helpers/jquery.fancybox-thumbs.js') }}"></script>
{# FANCYBOX #}
<script>
    // Rating
    $(function() {
        // Slider init
        // buttons for next and previous item						 
	var additionalPhotosButtons = {
            previous:$('#additionalPhotosSlider .button-previous') ,
            next:$('#additionalPhotosSlider .button-next') 
        };	
        var menuPhotosButtons = {
            previous:$('#menuPhotosSlider .button-previous') ,
            next:$('#menuPhotosSlider .button-next') 
        };
        $('#additionalPhotosSlider').lofJSidernews( {
            interval : 4000,
            direction : 'opacitys',	
            easing : 'easeInOutExpo',
            duration : 1200,
            auto : true,
            maxItemDisplay  : 4,
            mobile : true,
            navPosition : 'horizontal', // horizontal
            navigatorHeight : 32,
            navigatorWidth  : 80,
            mainWidth		: 980,
            buttons : additionalPhotosButtons 
        } );
        $('#menuPhotosSlider').lofJSidernews( {
            interval : 4000,
            direction : 'opacitys',	
            easing : 'easeInOutExpo',
            duration : 1200,
            auto : true,
            maxItemDisplay  : 4,
            mobile : true,
            navPosition : 'horizontal', // horizontal
            navigatorHeight : 32,
            navigatorWidth  : 80,
            mainWidth		: 980,
            buttons : menuPhotosButtons 
        } );
        
        // Rating
        page.rating.initRating();
        
        // fancyBOX
        $("a.restaurantAdditionalPhotos").fancybox({
		prevEffect	: 'none',
		nextEffect	: 'none',
		helpers	: {
			title	: {
				type: 'outside'
			},
			thumbs	: {
				width	: 50,
				height	: 50
			}
		}
	});
        
        $("a.restaurantMenuPhotos").fancybox({
		prevEffect	: 'none',
		nextEffect	: 'none',
		helpers	: {
			title	: {
				type: 'outside'
			},
			thumbs	: {
				width	: 50,
				height	: 50
			}
		}
	});
    });

</script> 
{# Rating #}
{% endblock %}    
{% block stylesheets %}
    {{ parent() }}
{# SLIDER #}
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/tablemain/lofslidernews/css/lofslidernews.css') }}">
{# SLIDER #}

{# FANCYBOX #}
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/tablemain/fancy-box/jquery.fancybox.css') }}">
<!-- Optionally add helpers - button, thumbnail and/or media -->
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/tablemain/fancy-box/helpers/jquery.fancybox-buttons.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/tablemain/fancy-box/helpers/jquery.fancybox-thumbs.css') }}">
{# FANCYBOX #}
{% endblock %}    
{% block content %}
<div class="container-fluid" id="restaurantList_main">
    <div class="restaurant-container">
        <div class="restaurant-img-container">
            <div class="restaurant-img">{% thumbnail restaurant.photo, 'reference' %}</div>
        </div>
        <div class="restaurant-content restaurant-card">
            <p class="restaurant-content-name">
                <a href="#" >{{ restaurant.name }}</a>
            </p>
            <p class="restaurant-content-font-category">
                    {% trans %}main.labels.category{% endtrans %}
            </p>
            <p class="restaurant-content-font">
                    {{ restaurant.categories|join(', ') }}
            </p>
            <p class="restaurant-content-font-category">
                    {% trans %}main.labels.kitchen{% endtrans %}
            </p>
            <p class="restaurant-content-font">
                    {{ restaurant.kitchens|join(', ') }}
            </p>
            <p class="restaurant-content-font-category">
                    {% trans %}main.labels.additionalServices{% endtrans %}
            </p>
            <p class="restaurant-content-font">
                    {{ restaurant.additionalServices|join(', ') }}
            </p>
            <p class="restaurant-content-font-category">
                     {% trans %}main.labels.address{% endtrans %}
            </p>
            <p class="restaurant-content-font">
                    {{ restaurant.city.name }}, {{ restaurant.street }}, {{ restaurant.house }}
            </p>
            <p class="restaurant-content-font-category">
                     {% trans %}main.labels.scedule{% endtrans %}
            </p>
            <p class="restaurant-content-font">
                <ul class="restaurantSchedule">
                    {% for schedule in restaurant.restaurantSchedule %}
                        <li>
                            {{schedule.dayFromStr}} - {{schedule.dayToStr}} {{schedule.timeFrom|date('H:i')}} - {{schedule.timeTo|date('H:i')}}
                            {% if loop.index < restaurant.restaurantSchedule|length %}
                                ,
                            {% endif %}
                        </li>    
                    {% endfor %}
                </ul>     
            </p>
        </div>
        <div class="restaurant-content-reserve restaurant-rating-{{ restaurant.id }}">
                {% include 'TableRestaurantBundle:Default:rating.html.twig' with {'restaurant': restaurant, 'isRatingDisabled': isRatingDisabled, 'restaurantsWhoHadHasAlreadyRating': restaurantsWhoHadHasAlreadyRating, 'id': restaurant.id} %}
                {% if anonim %}
            <a class="btn btn-primary"  href="{{ path('table_main_auth_page') }}">
                        {% trans %}main.order.button{% endtrans %}
            </a>
                {% else %}
            <a class="btn btn-primary" data-toggle="modal" data-target="#reserve_{{ restaurant.id }}" href="{{ path('table_order_reserve', {'id': restaurant.id}) }}">
                        {% trans %}main.order.button{% endtrans %}
            </a>
                {% endif %}

        </div>
    </div>
        {# TABS #}
    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#photos" data-toggle="tab">{% trans %}main.labels.photos.additional{% endtrans %}</a>
            </li>
            <li>
                <a href="#menus" data-toggle="tab">{% trans %}main.labels.photos.menu{% endtrans %}</a>
            </li>
            <li>
                <a href="#description" data-toggle="tab">{% trans %}main.labels.description{% endtrans %}</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="photos" class="tab-pane active">
                {% if additionalPhotos %}
                    <div id="additionalPhotosSlider" class="lof-slidecontent" style="width:980px; height:340px;">
                        <div class="preload"><div></div></div>
                        <!-- MAIN CONTENT --> 
                        <div class="main-slider-content" style="width:980px; height:340px;">
                            <ul class="sliders-wrap-inner">
                                {% for additionalPhoto in additionalPhotos %}
                                <li>
                                    <a class="restaurantAdditionalPhotos" rel="restaurantAdditionalPhotos" href="{{ additionalPhoto }}">
                                        <img src="{{ additionalPhoto }}" width="150" height="150"/>
                                    </a>        
                                </li> 
                                {% endfor %}
                            </ul>  	
                        </div>
                        <!-- END MAIN CONTENT --> 
                        <!-- NAVIGATOR -->
                        <div class="navigator-content">
                            <div class="button-next">Next</div>
                            <div class="navigator-wrapper">
                                <ul class="navigator-wrap-inner">
                                    {% for additionalPhoto in additionalPhotos %}
                                        <li>
                                            <img src="{{ additionalPhoto }}" />
                                        </li> 
                                    {% endfor %}    
                                </ul>
                            </div>
                            <div  class="button-previous">Previous</div>
                       </div> 
                        <!----------------- END OF NAVIGATOR --------------------->
                        <!-- BUTTON PLAY-STOP -->
                        <div class="button-control"><span></span></div>
                         <!-- END OF BUTTON PLAY-STOP -->
                    </div> 
                {% endif %}
            </div>
            <div id="menus" class="tab-pane">
                {# menu #}
                {% if menuPhotos %}
                    <div id="menuPhotosSlider" class="lof-slidecontent" style="width:980px; height:340px;">
                        <div class="preload"><div></div></div>
                        <!-- MAIN CONTENT --> 
                        <div class="main-slider-content" style="width:980px; height:340px;">
                            <ul class="sliders-wrap-inner">
                                {% for menuPhoto in menuPhotos %}
                                <li>
                                    <a class="restaurantMenuPhotos" rel="restaurantMenuPhotos" href="{{ menuPhoto }}">
                                        <img src="{{ menuPhoto }}" width="150" height="150"/>
                                    </a>
                                </li> 
                                {% endfor %}
                            </ul>  	
                        </div>
                        <!-- END MAIN CONTENT --> 
                        <!-- NAVIGATOR -->
                        <div class="navigator-content">
                            <div class="button-next">Next</div>
                            <div class="navigator-wrapper">
                                <ul class="navigator-wrap-inner">
                                    {% for menuPhoto in menuPhotos %}
                                        <li>
                                            <img src="{{ menuPhoto }}" />
                                        </li> 
                                    {% endfor %}    
                                </ul>
                            </div>
                            <div  class="button-previous">Previous</div>
                       </div> 
                        <!----------------- END OF NAVIGATOR --------------------->
                        <!-- BUTTON PLAY-STOP -->
                        <div class="button-control"><span></span></div>
                         <!-- END OF BUTTON PLAY-STOP -->
                    </div>
                {% endif %}
                {# menu #}
            </div>
            <div id="description" class="tab-pane">
                {{ restaurant.description }}
            </div>
        </div>
    </div>
        {# TABS #}
        {# ==Modal Window for reserve==#}
    <div class="modal fade hide modal-reserve" data-backdrop="static" id="reserve_{{ restaurant.id }}">

        <div class="modal-header modal-login-title">
            <a class="close" data-dismiss="modal"></a>
            <h3>{% trans %}main.order.form.title{% endtrans %} {{restaurant.name}}</h3>
        </div>
        <div class="modal-body" >

        </div>
    </div>
</div>  
{% endblock %}    