{% extends 'TableMainBundle::layout.html.twig' %}
{% block javascripts %}
    {{ parent() }}
{# Rating #}
<script>
    // Rating
    $(function(){ 
        $('.rating').rating({
                callback: function(value, link){ 
                    var restaurantId = $(this).attr('restaurantId');
                    $.ajax({
                        url: Routing.generate('table_update_restaurant_rating'),
                        data: {restaurantId: restaurantId, value: value, objId: restaurantId},
                        type: "POST",
                        dataType: "html",
                        success: function() {
                            location.reload();
                        }
                    });
                }
            });
        
        // Init calendar
         $( "#datepickerCalendar" ).datepicker({
            showOn: "button",
            buttonImage: "{{ asset('bundles/tablemain/images/calendar.png') }}",
            buttonImageOnly: true,
            onSelect: function(filterDate) {
                // get Search str
                var searchStr = $("#searchStr").val();
		// redirect on order history page
		document.location.href = Routing.generate('table_order_history') + "?filterDate=" + filterDate + "&searchStr=" + searchStr;
            }
         });
	 var filterDate = $("#filterDate").val();
	 $( "#datepickerCalendar" ).datepicker( "option", "dateFormat", "yy-mm-dd" );
	 $( "#datepickerCalendar" ).datepicker("setDate", filterDate);
    });
        
</script> 
<script src="{{ asset('bundles/tablemain/js/jquery-ui-1.10.3.custom.js') }}"></script>
{# Rating #}
{% endblock %}    
{% block stylesheets %}
    {{ parent() }}
    {# Rating #}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/tablemain/rating/jquery.rating.css') }}">
    {# Rating #}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/tablemain/css/jquery-ui-1.10.3.custom.css') }}">
{% endblock %}    
{% block content %}
    <div class="container-fluid" id="restaurantList_main">
        <div class="row-fluid">
            <div class="span6">
                {% include "TableMainBundle:Component:profilePageTabs.html.twig" %}
            </div>
        </div>
        <div class="row-fluid">
            <div class="order-search">
                <div class="ord-search-text">
                    {% trans %}main.order.history.search{% endtrans %}
                </div>
                <div class="calendar-inp-field">
		    <input type="hidden" id="filterDate" value="{{filterDate}}"/>
                    <input type="text" id="datepickerCalendar" placeholder="Выберите дату"/>
                </div>
                <form class="ord-form-search" onsubmit="page.orderHistory.filterOrderHistory();return false;">
                    <input id="searchStr" value="{{searchStr}}" onKeyPress="page.orderHistory.filterOrderHistory();" type="text" placeholder="Введите ключевое слово для поиска">
                    <button type="button" class="serach-glass" onclick="page.orderHistory.filterOrderHistory();"></button>
                </form>
            </div>
        </div>
        <div class="row-fluid">
            <div class="table-order-history">
                <table>
                    <thead>
                        <th>
                            {% trans %}main.order.history.date{% endtrans %}
                        </th>
                        <th>
                            {% trans %}main.order.history.time{% endtrans %}
                        </th>
                        <th>
                            {% trans %}main.order.history.name{% endtrans %}
                        </th>
                        <th>
                            {% trans %}main.order.history.rating{% endtrans %}
                        </th>
                    </thead>
                    <tbody>
                    {% include "TableRestaurantBundle:Default:viewTableOrderHistory_content.html.twig" %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row-fluid">
            {# display navigation #}
            <div class="navigation">
                    {{ knp_pagination_render(tableOrderHistory) }}
            </div>   
        </div>
    </div>     
{% endblock %}    
